/*style*/
body{
    font: 16px/28px Times New Roman, sans-serif;
    background-color: lightgray;
    color: #333;
}

.header {
    padding: 5px;
}

.judul{
    font-size: 13px;
    font-weight: bolder;
}

.container {
    background-color: lightslategray;
    width : 700px;
    margin: 10px auto;
}

.main {
    width: 100px;
    box-sizing: border-box;
    float: left;
}

.main h1{
    font-size: 24px;
    font-weight: bold;
}

.sidebar{
    width: 300px;
    float: right;
    font-weight: bold;
    color: black;
}

.isii {
    text-align: center;
    font-size: 14px;
}

.footer{
    background-color: #333;
}

.footer .akhiran{
    font-size: 10px;
    color: lightslategray;
    text-align: center;
}

/* clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1*/
    display: table; /* 2 */
}

.cf:after{
    clear: both;
}

.cf{
    *zoom: 1;
}